<!DOCTYPE html>
<html>

<head>
  <title>AgricultureTrack w/ Frontend</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
  
  <script type="text/javascript">
    const provider = await detectEthereumProvider()
   
    if (provider) {
      // handle provider
    } else {
      // handle no provider
    }
  </script> 

  <script>

    var userAccount;

    function startApp() {
      var accountInterval = setInterval(function () {
        // Check if account has changed


      }, 100);
    }

    window.addEventListener('load', function () {
      
      // Now you can start your app & access web3 freely:
      startApp()

    })
    function updateProducts() {
    }


    function addProduct() {
      // Clear result div to get new result
      $(".show-add-pro-res").html("");

      var productName = $('#product').val();

      $.ajax({
        url: "/addProduct",
        type: "POST",
        data: { productName: productName }
      }).done(function (response) {
        var html = "<br><p> <b> RESULT : <b><p>";
        response = response.result;
        $.each(response, function (key, val) {
          console.log(val);
          html += "<p>" + val + "<p>"
        });
        html += "<br>";
        $(".show-add-pro-res").append(html);
      });
    }

    function addActionToProduct() {
      // Clear result div to get new result
      $(".show-add-act-res").html("");

      var action = $('#action').val();
      var productId = $('#productidaction').val();
      console.log(action)
      console.log(productId)
      $.ajax({
        url: "/addActionToProduct",
        type: "POST",
        data: {
          action: action,
          productId: productId
        }
      }).done(function (response) {
        var html = "<br><p> <b> RESULT : <b><p>";
        response = response.result;
        $.each(response, function (key, val) {
          console.log(val);
          html += "<p>" + val + "<p>"
        });
        html += "<br>";
        $(".show-add-act-res").append(html);
      });
    }

    function searchProduct() {
      // Clear result div to get new result
      $(".show-search-res").html("");

      var productId = $('#productidsearch').val();
      $.ajax({
        url: "/searchProduct",
        type: "POST",
        data: { productId: productId }
      }).done(function (response) {
        var html = "<br><p> <b> RESULT : <b><p>";
        response = response.result;
        $.each(response, function (key, val) {
          console.log(val);
          html += "<p>" + val + "<p>"
        });
        html += "<br>";
        $(".show-search-res").append(html);
      });
    }
  </script>
</head>

<body>
  <h1>AgricultureTrack</h1>
  <h2>Product Tracking For Farmer powered by Ethereum</h2>
  <br>
  <h2>Your account has some product: </h2>
  <div class="your-products"></div>

  <br>
  <h1>Add Product By Name</h1>
  <br><label for="product">Product Name: </label><input type="text" id="product" name="product"
    placeholder="e.g., Apple"></input>
  <br><br><button id="addproduct" onclick="addProduct()">Add Product</button>
  <br><br>
  <div class="show-add-pro-res">
  </div>
  <br>

  <br>
  <h1>Add Action To Product</h1>
  <br><label for="action">Action Name: </label><input type="text" id="action" name="action"
    placeholder="e.g., Seeding"></input>
  <br><br>
  <br><label for="productidaction">Product ID: </label><input type="text" id="productidaction" name="productid"
    placeholder="e.g., 12"></input>
  <br><br><button id="addactionid" onclick="addActionToProduct()">Add Action</button>
  <br><br>
  <div class="show-add-act-res"></div>
  <br>

  <br>
  <h1>Search Product Action By ID</h1>
  <br><label for="productidsearch">Product ID: </label><input type="text" id="productidsearch" name="productidsearch"
    placeholder="e.g., 12"></input>
  <br><br><button id="searchproduct" onclick="searchProduct()">Search Product</button>
  <br><br>
  <div class="show-search-res"></div>
  <br>

</body>

</html>